
# Python
backend/venv/
backend/__pycache__/
backend/*.pyc

# Environment variables
backend/.env

# Node (if you add React later)
frontend/node_modules/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db 
**/__pycache__/
backend/private_uploads/
